header{
    width:100%;
    z-index:100;
}
.cart{
    color:white;
}
.btn-circle{
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 6px 0;
    font-size: 15px;
    line-height: 1.428571429;
    border-radius: 100%;
    background-color: #1489F0;
}
.position-fixed{
    position:fixed;
}
#container{
    position:relative;
    top:50px;
}
aside, main {
    float: left;
    margin: 10px;
}

aside{
    top:50px;
}
h1, h2, h3, h4 {
    color: #446E9B;
    margin: 5px;
}
a {
    color: #446E9B;
    cursor: pointer;
}
#navbar-brand-id {
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    height: 38px;
    border-radius: 10px; 
    display: inline-block;
    text-align: middle; 
}
#login-control, #search-control {
    margin: 5px;
}
.hidden {
    display: none;
}
.form-login {
    width: 250px;
    margin: 5px;
}
.form-register {
    width: 250px;
    margin: 5px;
}
.bold{
    font-weight: bold;
}
.color-black{
     color:black;
 }
h4 span {
    font-weight: normal;
}
.small {
    margin-top:10px;
    width: 150px;
    height: 200px;
    margin-left:10px;
    display:inline-block;
}
.large {
    width: 250px;
    height: 400px;
}
.book-price{
    color:red;
    font-family: Consolas,monaco,monospace;
    font-weight: bold;
}
.book-container {
    font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
    float: left;
    margin: 10px;
}
.book-presentation-container{
    border: 2px solid #E5E5E5;
    border-radius: 5px;
    height:350px;
    position: relative;
}
.book-presentation-price{
    font-weight: bold;
    position:absolute;
    bottom: 0;
    left:0;
}
.book-presentation-title{
    font-weight: bold;
    width:160px;
}
.book-presentation-author{
    font-weight: bold;
    width:160px;
}

.book-container a {
    color: black;
    font-weight: normal;
}

